.navbar-inverse{
	background-color:#66B550 !important;
	border-color: #080808;
	border-radius:0px !important;
}
h1{
	color: black !important;
}
a{
	color:black !important;

}
.content{
	height: 100%;
	background-image: none;
	background-color:black;
	background-size: cover;
}
.square-button {
	background-color: black;
	color: #80BD00;
}
.ui-class{
	background-color:black !important;
}
.logo{
	display: none !important;
}
.table.table-myclass{
	background-color: rgba(204, 207, 203, 1);
	border: none;
	color: rgb(115, 115, 115);
	text-align: center;
	font-family: cursive;
	font-weight: bolder;
	font-size: 18px;
	box-shadow: 0 0 12px rgb(139, 139, 139);
	border-left: none;
	border-right: none;
	cursor: pointer;
	border-top: 1px solid;
}

tr th,td{
	text-align: center !important;
	border-right: 1px solid white;
}
tr:hover{
	background-color: rgba(107, 190, 182, 0.98);
	color:grey;
	transition:.4s;
}
th{
	background-color: black !important;
	color:white;
}
.animate{
	background-color:black !important;
	border-bottom: 4px solid red;
	/*border-image: linear-gradient(to bottombottom, #3acfd5 0%, #3a4ed5 100%) !important;  
	border: 4px solid transparent !important;  */
	transition: 3s;
}
.input{
	border-top:0;
	color: white !important;
}
.navbar-inverse .navbar-nav>.open>a:hover{
	background-color:#8EC28F !important; 
}
td:nth-child(2){
	background-color: black;
}